.Specials {
  aspect-ratio: 960/350;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../img/wave-haikei_3.svg");
}
.Min-specials {
  aspect-ratio: 960/250;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../img/wave-haikei_3.svg");
}
.Sepcial-Header {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.Sepcial-Header > h1 {
  color: #1f2030;
  font-family: "Tangerine", cursive;
  font-weight: 500;
  font-size: 75px;

  text-align: center;
  display: inline-block;
}
.castle {
  display: inline-block;
}
.castle > img {
  display: inline-block;
  height: 150px;
  border-radius: 15px;
}
.Main-Content {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  height: 90%;
}
.btn {
  font-size: 20px;
  border: 0;
  background: #1f2030;
  color: #fff;
  padding: 15px 50px;
  border-radius: 90px;
  cursor: pointer;
  transition: 0.8s;
}
.btn:hover {
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px #ba8de4;
  transition-delay: 0.2s;
  color: #ba8de4;
}
.first_item {
  width: 20%;
  height: 90%;
  background-color: #1f2030;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}
.first_item > img {
  width: 100%;
  height: 200px;
  border-radius: 0 0 20px 20px;
}
.first_item > h2 {
  color: white;
  font-family: "Tangerine", cursive;
  font-weight: 200;
  font-size: 35px;
}
.first_item > p {
  color: white;
  font-size: 28px;
}
.second_item {
  width: 20%;
  height: 50%;
  background-color: #1f2030;
  border-radius: 20px;
}
.third_item {
  width: 20%;
  height: 50%;
  background-color: #1f2030;
  border-radius: 20px;
}
.fourth_item {
  width: 20%;
  height: 50%;
  background-color: #1f2030;
  border-radius: 20px;
}
.div-btn {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.first_item > img {
  overflow: hidden;
  transition: 0.4s;
}
.first_item > img:hover {
  box-shadow: 0 0 10px #94faec, 0 0 40px #94faec, 0 0 150px #d7fcf7;
  transition-delay: 0.4s;
}
.first_item > img {
  height: 250px;
}
/*1920:1080*/
@media only screen and (min-width: 1900px) {
  .Sepcial-Header > h1 {
    font-size: 110px;
  }
  .castle > img {
    display: inline-block;
    height: 220px;
    border-radius: 15px;
  }
  .Min-specials {
    aspect-ratio: 960/450;
  }
  .Specials {
    aspect-ratio: 960/350;
  }
  .first_item {
    width: 20%;
    height: 90%;
    background-color: #1f2030;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
  }
  .first_item > img {
    height: 300px;
  }
  .first_item > h2 {
    font-size: 50px;
  }
  .first_item > p {
    font-size: 35px;
  }
  .btn {
    font-size: 30px;

    padding: 5px 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .Sepcial-Header > h1 {
    font-size: 60px;
  }
  .castle > img {
    height: 180px;
  }
  .Min-specials {
    aspect-ratio: 960/450;
  }
  .Specials {
    aspect-ratio: 960/350;
  }
  .first_item > img {
    height: 180px;
  }
  .first_item > h2 {
    font-size: 30px;
  }
  .first_item > p {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1400px) {
  .Sepcial-Header > h1 {
    font-size: 60px;
  }
  .castle > img {
    height: 180px;
  }
  .Min-specials {
    aspect-ratio: 960/450;
  }
  .Specials {
    aspect-ratio: 960/350;
  }
  .first_item > img {
    height: 180px;
  }
  .first_item > h2 {
    font-size: 30px;
  }
  .first_item > p {
    font-size: 25px;
  }
}
