@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Dancing+Script:wght@500&family=Ibarra+Real+Nova:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Kalam:wght@300&display=swap");

.Header {
  font-family: "Dancing Script", cursive;
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../img/wave-haikei.svg");
}
.test {
  margin-top: 80px;
  width: 100%;
  height: 710px;
  display: inline-block;
  color: white;
  position: relative;
}
.Spline {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  width: 1500px;
}
@media (min-width: 1800px) {
  .Spline {
    width: 1700px;
  }
}
@media (max-width: 1024px) {
  .Spline {
    transform: scale(0.8) translateX(200px);
    transform-origin: top;
  }
}
@media (max-width: 800px) {
  .Spline {
    transform: scale(0.7) translateX(600px);
  }
}
@media (max-width: 600px) {
  .Spline {
    transform: scale(0.5) translateX(-100px);
    right: auto;
    left: 50%;
    margin-left: -600px;
  }
}
@media (max-width: 375px) {
  .Spline {
    transform: scale(0.45) translateX(-50px);
  }
}
.text {
  text-align: center;
}
h1 {
  color: white;
  font-family: "Tangerine", cursive;
  font-weight: 200;
  font-size: 60px;
  margin-top: 80px;
}
p {
  font-family: "Tangerine", cursive;
  font-weight: 100;
  font-size: 40px;
}
.Soical-div {
  z-index: 10;
}
.Header-content {
  position: absolute;
  width: 60%;
  height: 100%;
  display: flex;
}
.Line {
  margin-left: 30px;
  margin-top: -15px;
  width: 3px;
  height: 500px;
  background: linear-gradient(
    180deg,
    #6c56ef 13.57%,
    #3c368f 13.86%,
    #6e0d74 33%,
    #242224 100%
  );
  transition: 0.3s;
}
.Line:hover {
  box-shadow: 0 0 10px #6e0d74, 0 0 40px #6e0d74, 0 0 80px #6e0d74;
  transition-delay: 0.2s;
}
.Soical {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.8s;
  border-radius: 10px;
}
.Soical:hover {
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px #ba8de4;
  transition-delay: 0.2s;
  color: #ba8de4;
}
.Navigation {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: rgba(31, 32, 48, 0.5);
}
.logo {
  display: inline-block;
  width: 5%;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  pointer-events: auto;
}
li {
  list-style: none;
  margin: 0;
}
li > a {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: 1s;
}
a:hover {
  color: #ba8de4;
}
.icon {
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
}
.logo:hover {
  border: 0 solid;
}
.Read-More {
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
}
.Read-More > a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #ba8de4;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}
.Read-More > a:hover {
  color: #6c4294;
  background: #ba8de4;
  box-shadow: 0 0 10px #ba8de4, 0 0 40px #ba8de4, 0 0 80px #ba8de4;
  transition-delay: 1s;
}
.Read-More > a span {
  position: absolute;
  display: block;
}
.Read-More > a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ba8de4);
}
.Read-More > a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.Read-More > a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ba8de4);
}
.Read-More > a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.Read-More > a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, white);
}
.Read-More > a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.Read-More > a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, white);
}
.Read-More > a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
.Help {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 650px;
  background-color: white;
}
.arrow {
  width: 55px;
  height: 55px;
  cursor: pointer;
}
/*1920:1080*/
@media only screen and (min-width: 1900px) {
  h1 {
    font-size: 80px;
  }
  p {
    font-size: 45px;
  }
  .Line {
    margin-left: 40px;
    margin-top: -95px;
    width: 5px;
    height: 553px;
  }
  .Soical {
    width: 38px;
    height: 38px;
    margin-left: 20px;
    margin-top: 6px;
  }
  ul {
    font-size: 25px;
  }
  .Read-More > a {
    font-size: 30px;
  }
  .test {
    margin-top: 170px;
  }
  .Help > a > img {
    height: 80px;
  }
}
@media only screen and (max-width: 1200px) {
  h1 {
    margin-top: 100px;
    font-size: 40px;
  }
  p {
    padding-top: 30px;
    font-size: 30px;
  }
  .Line {
    margin-left: 14px;
    margin-top: 10px;
    width: 5px;
    height: 430px;
  }
  .Soical {
    width: 28px;
    height: 28px;
    margin-left: 3px;
    margin-top: 5px;
  }
  ul {
    font-size: 18px;
  }
  .Read-More > a {
    font-size: 20px;
  }
  .test {
    margin-top: 20px;
  }
  .Help > a > img {
    height: 50px;
  }
  .Spline {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    width: 1450px;
    transform: scale(0.75) translateX(200px);
    transform-origin: top;
  }
}
@media only screen and (max-width: 1400px) {
  h1 {
    margin-top: 100px;
    font-size: 40px;
  }
  p {
    padding-top: 30px;
    font-size: 30px;
  }
  .Line {
    margin-left: 14px;
    margin-top: 10px;
    width: 5px;
    height: 430px;
  }
  .Soical {
    width: 28px;
    height: 28px;
    margin-left: 3px;
    margin-top: 5px;
  }
  ul {
    font-size: 18px;
  }
  .Read-More > a {
    font-size: 20px;
  }
  .test {
    margin-top: 20px;
  }
  .Help > a > img {
    height: 50px;
  }
  .Spline {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    width: 1450px;
    transform: scale(0.8) translateX(150px);
    transform-origin: top;
  }
}
